

<h1>Edit your Dog profile</h1>


<%= form_for @dog, url: save_dog_path do |f| %>


  <%= f.label :breed %>
  <%= f.text_field :breed %><br />

  <%= f.label :age %>
  <%= f.text_field :age %><br />

  <%= f.label :sex %>
  <%= f.text_field :sex %><br />

  <%= f.label :image %>
  <%= f.text_field :image %><br />


<div>
  <%= f.submit "Save changes", class: "btn btn-primary" %>
  <button type=""><%= link_to 'Back', dog_path %></button>
  <button type=""><%= link_to 'Delete', delete_path, :method => :delete %></button>
</div>
<% end %>


