<div class="header">
  <div class="container">


  <h1 class="text-center">Pup-Adopt</h1>
    <img id="logo" src="http://logofury.com/wp-content/uploads/2002/320.jpg" width="80">
    <p>"Your future pet is waiting for you"</p>
  </div>
</div>

<div class="dogs">
  <div class="container">
    <div class="cards row">
      <% @dogs.each do |d| %>
      <div class="card col-xs-4">
        <%= image_tag d.image %>
        <h2><%= d.breed %></h2>
        <p><%= d.age %></p>
        <p><%= d.sex %></p>


        <button><%= link_to "Adopt Me", dog_path(d.id) %></button>
      </div>
      <% end %>
      <button><%= link_to "Add a Pup", new_dog_path %></button>
    </div>
  </div>
</div>









