<h3>Your future pet is waiting for you</h3>
<div class="dogs">
  <div class="container">
    <div class="cards row">
      <% @dogs.each do |d| %>
      <div class="card col-xs-4">
        <%= image_tag d.image %>
        <h2><%= d.breed %></h2>
        <p><%= d.age %></p>
        <p><%= d.sex %></p>
        <button><%= link_to "Adopt Me", dog_path(d.id) %></button>
      </div>

      <% end %>
    </div>
  </div>
</div>


<footer class="footer">
  <p>written and coded by Ftan</p>
</footer>






