



<h1 id="register">Register new dog for adoption</h1>

<div class="info">
<%= form_for(@dog, url: '/dogs/index') do |f| %>
  <%= f.label :breed %>
  <%= f.text_field :breed %><br />

  <%= f.label :age %>
  <%= f.text_field :age %><br />

  <%= f.label :sex, "Sex" %>
  <%= f.text_field :sex %><br />

  <%= f.label :image %>
  <%= f.text_field :image %><br />
  <%= f.submit "submit" %>
  <%= link_to 'Back', index_dog_path %>

</div>

<% end %>
