<div class="header">
  <div class="container">
        <h1>Take me home</h1>
  </div>
</div>

<div class="dog">
 <div class="container">
    <%= image_tag @dogs.image %>
    <div class="page-header">
      <h2><%= @dogs.breed %></h2>
      <p><%= @dogs.age %></p>
      <p><%= @dogs.sex %></p>
      <%= link_to "Home", home_path %>
      <% if user_signed_in? and current_user.admin %>
        <%= link_to "Edit", edit_dog_path %>
        <%= link_to 'Delete', delete_path, :method => :delete %>
      <% end %>
    </div>
  </div>
</div>



