<h1>Dog listings</h1>

<table>
  <thead>
    <tr>
      <th>Breed</th>
      <th>Age</th>
      <th>sex</th>
      <th>image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vampires.each do |vampire| %>
      <tr>
        <td><%= d.breed %></td>
        <td><%= d.age %></td>
        <td><%= d.sex %></td>
        <td><%= d.image %></td>
        <td><%= link_to 'Show', @dog %></td>
        <td><%= link_to 'Edit', edit_dog_path(dog) %></td>
        <td><%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dog', new_dog_path %>
